#mainHeading{text-align-last: center}
#heading2{text-align-last: center}
.card{height:270px;}
.card:hover{box-shadow: 0 10px 20px grey;}
#navLink1{color: white}
#navLink1:hover{color: #A8A8A8}
#navLink2{color: white}
#navLink2:hover{color: #A8A8A8}
#navLink3{color: white}
#navLink3:hover{color: #A8A8A8}
#navLink4{color: white}
#navLink4:hover{color: #A8A8A8}
.container{padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
body{background-image: url("/static/images/site/backdrop.jpg")}
.container{padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
#pin{text-align-last: center;}
#pin1{text-align-last: center;}
.card{height:290px; border: 1px solid lightgray; box-shadow: 0 5px 5px grey;}