#mainHeading{text-align-last: center}
#heading2{text-align-last: center}
#heading3{text-align-last: center}
#heading4{text-align-last: center}
#heading5{text-align-last: center}
#heading6{text-align-last: center}
#heading7{text-align-last: center}
#heading8{text-align-last: center}
#pin{text-align-last: center;}
#pin1{text-align-last: center;}
body{background-image: url("backdrop.jpg")}
.container{padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
#navLink1{color: white}
#navLink1:hover{color: #A8A8A8}
#navLink2{color: white}
#navLink2:hover{color: #A8A8A8}
#navLink3{color: white}
#navLink3:hover{color: #A8A8A8}
#navLink4{color: white}
#navLink4:hover{color: #A8A8A8}